// Denmark table
section#denmark-table.page-section
    .container.px-4.px-lg-5
        h2.text-center.mt-0 Data
        hr.divider
        table(style='width:60%, overflow-x:auto', border='0', class='center')
            tr
                th #
                th File
                th Visualize
                th Download
            tr
                td 1
                td Domestic consumer spending matrix
                td 
                    a(href='denmark_domesticconsumerspendingmatrix.html') Map
                td 
                    a(href='') csv

            tr
                td 2
                td Foreign consumer spending matrix
                td 
                    a(href='') Map
                td 
                    a(href='') csv

            tr
                td 3
                td Labor compensation matrix
                td 
                    a(href='') Map
                td 
                    a(href='') csv

            tr
                td 4
                td Intermediate trade matrix
                td 
                    a(href='') Map
                td 
                    a(href='') csv

            tr
                td 5
                td Mixed income matrix
                td 
                    a(href='') Map
                td 
                    a(href='assets/data/characteristics_firms.xlsx' download) csv

            tr
                td 6
                td Consumer flows
                td 
                    a(href='') Map
                td 
                    a(href='') csv

            tr
                td 7
                td Producer flows
                td 
                    a(href='') Map
                td 
                    a(href='') csv