// Denmark table
section#denmark-table.page-section
    .container.px-0.px-lg-5
        h2.text-center.mt-0 Data
        hr.divider
        table(style='width:60%, overflow-x:auto', border='0', class='center')
            tr
                th #
                th File
                th View
                th Download
            tr
                td 1
                td Domestic consumer spending matrix (predicted)
                td 
                    a(href='denmark_domesticconsumerspendingmatrix.html') Map
                td 
                    a(href='assets/data/Domestic consumer spending (percent of consumer cell spending).zip' download) csv

            tr
                td 2
                td Foreign consumer spending (predicted)
                td 
                    a(href='denmark_foreignconsumerspending.html') Map
                td 
                    a(href='assets/data/Foreign consumer spending (predicted).csv' download) csv

            tr
                td 3
                td Labor compensation matrix
                td 
                    a(href='denmark_laborcompensationmatrix.html') Map
                td 
                    a(href='assets/data/Labor compensation.zip' download) csv

            tr
                td 4
                td Intermediates trade matrix
                td 
                    a(href='denmark_intermediatestradematrix.html') Map
                td 
                    a(href='assets/data/Domestic intermediates.zip' download) csv

            tr
                td 5
                td Mixed income matrix
                td 
                    a(href='denmark_mixedincomematrix.html') Map
                td 
                    a(href='assets/data/Mixed income from non-corporate producers.zip' download) csv
            tr
                td 6
                td Additional consumer flows
                td 
                    a(href='denmark_additionalconsumerflows.html') Map
                td 
                    a(href='assets/data/Additional consumer flows.csv' download) csv

            tr
                td 7
                td Additional producer flows
                td 
                    a(href='denmark_additionalproducerflows.html') Map
                td 
                    a(href='assets/data/Additional producer flows.csv' download) csv