// Denmark table
section#denmark-table.page-section
    .container.px-0.px-lg-5
        h2.text-center.mt-0 Data
        hr.divider
        table(style='width:60%, overflow-x:auto', border='0', class='center')
            tr
                th #
                th File
                th View
                th Download
            tr
                td 1
                td Domestic consumer spending matrix (predicted)
                td(style="text-align:center") 
                    a(href='denmark_domesticconsumerspendingmatrix.html') Map
                td(style="text-align:center") 
                    a(href='assets/data/csv/Domestic consumer spending matrix (predicted).zip' download) csv 
                    a(href='assets/data/dta/Domestic consumer spending matrix (predicted).zip' download) dta
                    

            tr
                td 2
                td Foreign consumer spending (predicted)
                td(style="text-align:center") 
                    a(href='denmark_foreignconsumerspending.html') Map
                td(style="text-align:center") 
                    a(href='assets/data/csv/Foreign consumer spending (predicted).csv' download) csv
                    a(href='assets/data/dta/Foreign consumer spending (predicted).dta' download) dta

            tr
                td 3
                td Labor compensation matrix
                td(style="text-align:center") 
                    a(href='denmark_laborcompensationmatrix.html') Map
                td(style="text-align:center") 
                    a(href='assets/data/csv/Labor compensation matrix.zip' download) csv
                    a(href='assets/data/dta/Labor compensation matrix.zip' download) dta

            tr
                td 4
                td Intermediates trade matrix
                td(style="text-align:center") 
                    a(href='denmark_intermediatestradematrix.html') Map
                td(style="text-align:center") 
                    a(href='assets/data/csv/Intermediates trade matrix.zip' download) csv
                    a(href='assets/data/dta/Intermediates trade matrix.zip' download) dta

            tr
                td 5
                td Mixed income matrix
                td(style="text-align:center") 
                    a(href='denmark_mixedincomematrix.html') Map
                td(style="text-align:center") 
                    a(href='assets/data/csv/Mixed income matrix.zip' download) csv
                    a(href='assets/data/dta/Mixed income matrix.zip' download) dta
            tr
                td 6
                td Additional consumer flows
                td(style="text-align:center") 
                    a(href='denmark_additionalconsumerflows.html') Map
                td(style="text-align:center") 
                    a(href='assets/data/csv/Additional consumer flows.csv' download) csv
                    a(href='assets/data/dta/Additional consumer flows.dta' download) dta

            tr
                td 7
                td Additional producer flows
                td(style="text-align:center") 
                    a(href='denmark_additionalproducerflows.html') Map
                td(style="text-align:center") 
                    a(href='assets/data/csv/Additional producer flows.csv' download) csv
                    a(href='assets/data/dta/Additional producer flows.dta' download) dta

            tr
                td 8
                td Crosswalk for municipality names
                td(style="text-align:center") -
                td(style="text-align:center") 
                    a(href='assets/data/csv/Crosswalk for municipality names.csv' download) csv
                    a(href='assets/data/dta/Crosswalk for municipality names.dta' download) dta

            tr
                td 9
                td Crosswalk for industry names
                td(style="text-align:center") -
                td(style="text-align:center") 
                    a(href='assets/data/csv/Crosswalk for industry names.csv' download) csv
                    a(href='assets/data/dta/Crosswalk for industry names.dta' download) dta