// Denmark table
section#denmark-table.page-section
    .container.px-4.px-lg-5
        h2.text-center.mt-0 Denmark Data
        hr.divider
        table(style='width:80%', border='0', class='center')
            tr
                th #
                th File
                th Description
                th Visualize
                th Download
            tr
                td 1
                td Consumer matrix
                td Description 1
                td 
                    a(href='denmark_consumermatrix.html') Map
                td 
                    a(href='') csv

            tr
                td 2
                td Labour income matrix
                td Description 2
                td 
                    a(href='') Map
                td 
                    a(href='') csv

            tr
                td 3
                td Input-output matrix
                td Description 3
                td 
                    a(href='') Map
                td 
                    a(href='') csv

            tr
                td 4
                td Self employment matrix
                td Description 4
                td 
                    a(href='') Map
                td 
                    a(href='') csv

            tr
                td 5
                td Producer characteristics
                td Description 5
                td 
                    a(href='') Map
                td 
                    a(href='assets/data/characteristics_firms.xlsx' download) csv

            tr
                td 6
                td Consumer characteristics
                td Description 6
                td 
                    a(href='') Map
                td 
                    a(href='') csv
