doctype html
html(lang='en')

    head
        // Head
        include includes/head.pug

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='index.html') Home
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='#page-top') Accounts for Denmark 
                        li.nav-item
                            a.nav-link(href='research_paper.html') Research Paper

        // Masthead
        include includes/denmark_masthead.pug
    
        // Denmark table
        include includes/denmark_table.pug

        // Services
        section#services.page-section
            .container.px-4.px-lg-5
                .text-center
                    h2.text-center.mt-0 Research Team
                    // p.lead.fw-normal.text-muted.mb-5 Dedicated to quality and your success
                    hr.divider
                .row.gx-5.row-cols-2.row-cols-sm-3.row-cols-xl-5.justify-content-center
                    .col.mb-5.mb-5.mb-xl-0
                        .text-center
                            a(href='https://sites.google.com/site/asgerlauandersen/' target='_blank')
                                img.img-fluid.rounded-circle.mb-4.px-4(src='assets/img/research_team/asger_andersen.jpg', alt='')
                                h5.text-center.mt-0 Asger Andersen
                            p.text-muted.mb-0 University of Copenhagen
                    .col.mb-5.mb-5.mb-xl-0
                        .text-center
                            a(href='https://www.economics.ku.dk/staff/phd_kopi/?pure=en/persons/436457' target='_blank')
                                img.img-fluid.rounded-circle.mb-4.px-4(src='assets/img/research_team/emil_toft_hansen.jpg', alt='')
                            a(href='https://www.economics.ku.dk/staff/phd_kopi/?pure=en/persons/436457' target='_blank')
                                h5.text-center.mt-0 Emil Toft Hansen
                            p.text-muted.mb-0 University of Copenhagen
                    .col.mb-5.mb-5.mb-sm-0
                        .text-center
                            a(href='https://www.kilianhuber.org/' target='_blank')
                                img.img-fluid.rounded-circle.mb-4.px-4(src='assets/img/research_team/kilian_huber.jpg', alt='')
                                h5.text-center.mt-0 Kilian Huber
                            p.text-muted.mb-0 University of Chicago
                    .col.mb-5
                        .text-center
                            a(href='https://www.nielsjohannesen.net/' target='_blank')
                                img.img-fluid.rounded-circle.mb-4.px-4(src='assets/img/research_team/niels_johannesen.jpg', alt='')
                                h5.text-center.mt-0 Niels Johannesen
                            p.text-muted.mb-0 University of Copenhagen
                    .col.mb-5
                        .text-center
                            a(href='https://scholar.harvard.edu/straub/home' target='_blank')
                                img.img-fluid.rounded-circle.mb-4.px-4(src='assets/img/research_team/ludwig_straub.jpg', alt='')
                                h5.text-center.mt-0 Ludwig Straub
                            p.text-muted.mb-0 Harvard University

        section#services.page-section
            .container.px-4.px-lg-5
                .text-center
                    h2.text-center.mb-4 Acknowledgements
                    p.lead.fw-normal.text-muted.mb-5 We are grateful to the Becker Friedman Institute, the Danish Innovation Fund, the Danish National Research Foundation, Domenic and Molly Ferrante, the Economic Policy Research Network, the Fama-Miller Center for Research in Finance, the Washington Center for Equitable Growth, the William S. Fishman Fund, and the Chicago Macro Finance Research Program.
                .row.gx-5.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-xl-4.justify-content-center.align-items-center
                    .col.mb-5.mb-5.mb-xl-4
                        .text-center
                            img.img-fluid.mb-4.px-4(src='assets/img/acknowledgements/bfi.svg', alt='')
                    .col.mb-5.mb-5.mb-xl-4
                        .text-center
                            img.img-fluid.mb-4.px-4(src='assets/img/acknowledgements/danish_innovation_fund.png', alt='')
                    .col.mb-5.mb-5.mb-xl-4
                        .text-center
                            img.img-fluid.mb-4.px-4(src='assets/img/acknowledgements/dnrf.jpg', alt='')
                    .col.mb-5.mb-5.mb-xl-4
                        .text-center
                            img.img-fluid.mb-4.px-4(src='assets/img/acknowledgements/harvard.jpg', alt='')
                    .col.mb-5.mb-5.mb-xl-4
                        .text-center
                            img.img-fluid.mb-4.px-4(src='assets/img/acknowledgements/eprn.jpg', alt='')
                    .col.mb-5.mb-5.mb-xl-4
                        .text-center
                            img.img-fluid.mb-4.px-4(src='assets/img/acknowledgements/fama_miller_center.jpg', alt='')
                    .col.mb-5.mb-5.mb-xl-4
                        .text-center
                            img.img-fluid.mb-4.px-4(src='assets/img/acknowledgements/washington_center_for_equitable_growth.svg', alt='')
                    .col.mb-5.mb-5.mb-xl-4
                        .text-center
                            img.img-fluid.mb-4.px-4(src='assets/img/acknowledgements/fishman_fund.png', alt='')
                    .col.mb-5.mb-5.mb-xl-4
                        .text-center
                            img.img-fluid.mb-4.px-4(src='assets/img/acknowledgements/macro_finance_research_program.svg', alt='')
                hr.divider-small

        // Footer
        include includes/footer.pug
        
        // Scripts
        include includes/scripts.pug
