doctype html
html(lang='en')

    head
        // Head
        include includes/head.pug

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='index.html') Home
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='denmark.html') Accounts for Denmark 
                        li.nav-item
                            a.nav-link(href='#page-top') Research Paper

        // Masthead
        header.masthead_short
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-8.align-self-end
                        h2.text-white.font-weight-bold Research Paper

        // Research Paper
        section#services.page-section
            .container.px-4.px-lg-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        a(href='https://kilianhuber.github.io/website/DEA.pdf' target='_blank')
                            img.img-fluid.mb-0.mb-lg-0.px-4(src='assets/img/main_plot_white.jpg', alt='...')
                    .col-lg-6
                        h2.fw-bolder 
                            a(href='https://kilianhuber.github.io/website/DEA.pdf' target='_blank') Disaggregated Economic Accounts
                        p.lead.fw-normal.text-muted.mb-0 Asger Andersen, Emil Toft Hansen, Kilian Huber, Niels Johannesen, Ludwig Straub
                hr.divider
                hr.divider
                hr.divider
                hr.divider
                hr.divider
                hr.divider
                hr.divider
                hr.divider
                hr.divider
                hr.divider

        // Footer
        include includes/footer.pug

        // Scripts
        include includes/scripts.pug
